/*
Custom Css
*/
.rating {
  display: flex;
  justify-content: center;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  cursor: pointer;
  margin-right: 10px;

}

.rating label i {
  color: #ccc;
  font-size: 36px;
}

.rating input[type="radio"]:checked+label i {
  color: #ffc107 !important;
}

/* payment  */
.payment-header {
  font-weight: bold;
}

.due-time {
  color: red;
}

.instruction {
  font-size: 14px;
}

.container .information-payment {
  width: 500px !important;
}

.about-hero {
  width: 400px;
  height: 200px;
}