{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}

{% block content %}
<!-- Main layout -->
<main class="mt-5">
    <div class="container">
        <!-- Heading -->
        <h2 class="my-5 text-center">Checkout</h2>

        <!-- Modal trigger button -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#alamatModal">Pilih Alamat</button>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="alamatModal" tabindex="-1" aria-labelledby="alamatModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alamatModalLabel">Pilih Alamat</h5>
                    </div>
                    <div class="modal-body">
                        {% if addresses.exists %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Penerima</th>
                                    <th>Provinsi</th>
                                    <th>Kabupaten</th>
                                    <th>Kecamatan</th>
                                    <th>Kelurahan</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for address in addresses %}
                                <tr>
                                    <td>{{ address.nama_penerima }}</td>
                                    <td>{{ address.provinsi.name }}</td>
                                    <td>{{ address.kabupaten.name }}</td>
                                    <td>{{ address.kecamatan.name }}</td>
                                    <td>{{ address.kelurahan.name }}</td>
                                    <td>
                                        {% if address.is_primary %}
                                        <span class="badge bg-info text-dark">Default</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'toko:pilih_alamat' address.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-primary">Pilih</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                            Anda belum memiliki alamat pengiriman. Silakan tambahkan alamat baru.
                        </div>
                        <a href="{% url 'toko:address_list' %}" class="btn btn-primary">Tambahkan Alamat Baru</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Isi berdasarkan address yang dipilih pada modal atau yang disimpan di session -->
        <div class="card my-4 selected-address" required>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title">Nama Penerima: {{ selected_address.nama_penerima }}</h5>
                        <p class="card-text">Provinsi: {{ selected_address.provinsi }}</p>
                        <p class="card-text">Kabupaten: {{ selected_address.kabupaten }}</p>
                        <p class="card-text">Kecamatan: {{ selected_address.kecamatan }}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">Kelurahan: {{ selected_address.kelurahan }}</p>
                        <p class="card-text">Kode Pos: {{ selected_address.kode_pos }}</p>
                        <p class="card-text">Alamat Lengkap: {{ selected_address.detail }}</p>
                    </div>
                </div>
            </div>
        </div>

        <form method="POST" name="formCheckout">
            {% csrf_token %}
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-8 mb-4">
                    <!-- Card -->
                    <div class="card p-4">
                        <!-- Delivery Method -->
                        <div class="my-3"> 
                            <h5>Pilih Metode Pengiriman:</h5>
                            {% for value, name in form.opsi_pengiriman.field.choices %}
                            <div class="form-check">
                                <input class="form-check-input opsi_pengiriman_check" type="radio" name="opsi_pengiriman" id="{{ value }}" value="{{ value }}" required />
                                <label class="form-check-label" for="{{ value }}">{{ name }}</label>
                            </div>
                            {% endfor %}
                            <div id="shipping-costs-section" style="display: none;">
                                {% if shipping_costs %}
                                    <h3>Biaya Pengiriman</h3>
                                        <div class="form-group">
                                        {% for cost in shipping_costs %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="shipping_option" id="shippingOption{{ forloop.counter }}" value="{{ cost.cost }}">
                                                <label class="form-check-label" for="shippingOption{{ forloop.counter }}">
                                                    {{ cost.courier }} - Service: {{ cost.service }} - Biaya: {{ cost.cost|currency_idr  }} - Estimasi: {{ cost.etd }} hari
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <hr />

                        <!-- Payment Method -->
                        <div class="my-3">
                            <h5>Pilih Metode Pembayaran:</h5>
                            {% for value, name in form.opsi_pembayaran.field.choices %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="opsi_pembayaran" id="{{ value }}" value="{{ value }}" required />
                                <label class="form-check-label" for="{{ value }}">{{ name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <hr class="mb-4" />
                        <button class="btn btn-primary" type="submit" {% if keranjang.produk_items.count == 0 %}disabled{% endif %}>Lanjutkan checkout</button>
                    </div>
                    <!-- /.Card -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Keranjang Belanja</span>
                        <span class="badge rounded-pill badge-primary">{{ keranjang.produk_items.count }}</span>
                    </h4>

                    <!-- Cart -->
                    <ul class="list-group mb-3">
                        {% for belanjaan in keranjang.produk_items.all %}
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <h6 class="my-0">{{ belanjaan.quantity }} x {{ belanjaan.produk_item.nama_produk }}</h6>
                                <small class="text-muted">{{ belanjaan.produk_item.deskripsi|truncatechars:50 }}</small>
                            </div>
                            {% if belanjaan.produk_item.harga_diskon %}
                            <span class="text-muted">{{ belanjaan.get_total_harga_diskon_item |currency_idr}}</span>
                            {% else %}
                            <span class="text-muted">{{ belanjaan.get_total_harga_item|currency_idr }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}

                        <!-- Total Diskon -->
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total Diskon (IDR)</span>
                            <strong class="text-danger">-{{ keranjang.get_total_diskon_order |currency_idr}}</strong>
                        </li>

                        <!-- Total Harga -->
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total Produk (IDR)</span>
                            <strong class="text-success total-harga">{{ keranjang.get_total_harga_order |currency_idr}}</strong>
                        </li>

                        <!-- Biaya Pengiriman -->
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Biaya Pengiriman (IDR)</span>
                            <strong class="text-muted" id="shipping-cost">0</strong>
                        </li>

                        <!-- Total Akhir -->
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total Payment (IDR)</span>
                            <strong class="text-success" id="final-total">{{ keranjang.get_total_harga_order |currency_idr}}</strong>
                        </li>
                    </ul>
                    <!-- Cart -->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </form>
    </div>
</main>
<!-- Main layout -->

{% block extra_js %}
<script src="{% static 'js/metodePengiriman.js' %}"></script>
{% endblock %}

{% endblock content %}
