{% extends 'base.html' %}
{% load cart_template_tags %}

{% block content %}

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row justify-content-center">
      <div class="col pt-5 pb-5">
        <ul>
          {% if payment_method == 'COD' %}
            <div class="container information-payment">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="{% url 'toko:order-history' %}" class="btn btn-light">&larr; Back</a>
                <h4 class="payment-header">Payment</h4>
                <div class="text-muted"></div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>Total Payment</div>
                    <div class="total-payment text-danger"><b>{{ order.get_total_harga_order_with_shipping_cost|currency_idr }}</b></div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <img src="https://via.placeholder.com/24x24.png?text=COD" alt="COD logo" class="me-2">
                    <div>COD (Cash On Delivery)</div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="instruction">
                    <ol>
                      <h5 class="alert-heading">Instruksi Pembayaran COD:</h5>
                      <li>Pastikan Anda telah memasukkan alamat pengiriman dengan benar.</li>
                      <li>Kurir akan menghubungi Anda melalui nomor telepon yang terdaftar untuk konfirmasi pengiriman.</l>
                      <li>Siapkan uang tunai yang sesuai dengan total pembayaran yang tertera pada invoice.</li>
                      <li>Berikan uang tunai kepada kurir saat barang diterima.</li>
                      <li>Kurir akan memberikan tanda terima setelah pembayaran dilakukan.</li>
                    </ol>
                  </div>
                </div>
              </div>

              <a href="{% url 'toko:order-history' %}" class="btn btn-danger btn-lg w-100">Lihat pesanan.</a>
            </div>
          {% elif payment_method == 'manual' %}
            <div class="container information-payment" style="width:500px">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="{% url 'toko:order-history' %}" class="btn btn-light">&larr; Back</a>
                <h4 class="payment-header">Payment</h4>
                <div class="text-muted"></div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>Total Pembayaran</div>
                    <div class="total-payment text-danger"><b>{{ order.get_total_harga_order_with_shipping_cost|currency_idr }}</b></div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>Payment dalam waktu</div>
                    <div class="due-time">Due on {{ due_time|date:"d M Y, H:i" }}</div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex align-items-center mb-2">
                    <img src="https://via.placeholder.com/24x24.png?text=BCA" alt="Logo BCA" class="me-2">
                    <div>Bank BCA</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>Nomor Rekening</div>
                    <div class="text-danger">5265056668</div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="instruction">
                    <ol>
                      <li>Pilih <b>m-Transfer &gt; Transfer ke Rekening BCA</b>.</li>
                      <li>Masukkan <b>Nomor Rekening 5265056668</b> dan pilih <b>Kirim</b>.</li>
                      <li>Periksa data di layar. Pastikan Merchant adalah <b>RAMADHANI ASRI</b>, dan jumlah total sudah benar. Jika benar, pilih <b>Ya</b>.</li>
                      <li>Masukkan PIN m-BCA Anda dan klik <b>OK</b>.</li>
                      <li>Jika muncul pesan "Transaksi Gagal. Jumlah pembayaran melebihi batas harian", silakan coba ulang transaksi menggunakan <b>KlikBCA (iBanking) atau ATM</b>.</li>
                    </ol>
                  </div>
                </div>
              </div>


              <a href="{% url 'toko:order-history' %}" class="btn btn-danger btn-lg w-100">Lihat pesanan.</a>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
